body{
    /* Set Font Type */
    font-family: 'Fuzzy Bubbles', cursive;
}

.first{
    /* Set Background Color to Aquamarine */
    background-color: aquamarine;
}
.second{
    /* Set Background Image and Font Colow White */
    background-image: url('muehe.jpg');
    min-height: 200px;
    color: white;
}
.third{
    /* Introduce background-size and background-repeat */
    background-image: url('muehe.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 200px;
    color: white;
}